.App {
  max-width:700px;
  margin: 40px auto;
  background-color:rgb(85, 174, 252);
    background-size: cover;
    background-repeat: no-repeat;
 border: 1px solid grey;
 border-radius: 16px;
}

.App footer {
  color:rgb(255, 187, 0);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.App .footer-link {
  text-decoration: underline;
  color: rgb(241, 242, 247);
}
