.App {
  max-width:700px;
  margin: 40px auto;
  background: rgba (255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
}

.App footer {
  color:brown;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.App .footer-link {
  text-decoration: none;
  color: brown;
}
