.WeatherTemperature .unit-link {
    text-decoration: underline;
    color: rgb(223, 197, 65);
}

.unit  {
    font-size:35px;
    font-weight:400;
    line-height:34px;
    
    padding: 0;
    
}
.temperature {
    font-size:35px;
    
}

