#weather-box {
    border: transparent;
    padding: 10px;
    max-width: 650px;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    box-shadow: 0 15px 18px 0px rgba(0, 0, 0, 0.2);
}

#city-input{
    padding: 5px 15px;
    margin: 10px;
    border:1px solid rgb(255,  187, 0);
    background-color:white;
    color: rgb(255, 187, 0);
        border-radius: 15px;
}
#city-input:hover {
    opacity: 0.6;
}

#search-input{
    border: 1px solid rgb(255,  187, 0);
    padding: 5px 15px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 187, 0);

}

